

#container {
		
		border: 1px solid #789;
		background-color: #f0f8ff;
		padding: 10px;
		
}




h1 {
		font-family: playfair-display;
		color: #800000;
		text-align:center;
		margin:35px auto;
}	 


p {

	text-align:left;
	line-height: 1.4;
	width:500px;
}

p {
	background-image:url("images/presence-ii.png");
	}



a:link { 
	color:#f0f8ff;
	text-decoration:none;
}

a:visited {
	color:black;
}

a:hover {
	color:lightblue;
}

a:active {
	color:deeppink;
}

#header {
	font-size:2.000em;
}

#container img {
	float:left;
	height:200px;
	width:200px;
}






